---

---
<footer class="footer_grid">
    <hr>
    <img src="" alt="">
    <a href=""></a><img src="" alt="">
   <a href=""></a> <img src="" alt="">
    <h3>About</h3>
    <p>How it works
Featured
Partnership
Bussiness Relation</p>
<h3>Community</h3>
<p>Events
Blog
Podcast
Invite a friend</p>

<p>Special thanks to</p>
<img src="" alt="">
<img src="" alt="">
<p>©2022 Company Name. All rights reserved</p>
<p>Privacy & Policy</p>
<p>Terms & Condition</p>
</footer>
<style>
hr {
    color: white;
    stroke-width: 3px;
    outline: white;
}
body {
    background-color: black;
}
footer { 
    color: white;
    background-color: darkblue;
}
</style>